.header {
  width: 1052px;
  height: 105px;
  margin-top: 92px;
  margin-left: 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-self: end;
  margin-right: 60px;
}

.header_menu {
  margin-left: 26px;
}
.header_links {
  display: flex;
  gap: 26px;
  list-style: circle;
}
.main {
  list-style: none;  
  margin-left: -2px; 
  margin-top: 39px;
  font-size: 18px;
  font-weight: 400;  
  line-height: 21.13px; 
}

.view_lots {
  white-space: nowrap;
  text-decoration: underline; 
  margin-left: 8px;
  margin-top: 39px; 
  text-underline-offset: 3px; 
  font-size: 18px;  
  font-weight: 400;  
  line-height: 21.13px;  
  width: 151px; 
  height: 21px;
}

.about_auction {
  white-space: nowrap;
  text-decoration: underline; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 21.13px; 
  text-underline-offset: 3px; 
  margin-top: 38px;
  margin-left: 5px; 

}

.nounderline {
  text-decoration: none;
}

.header_logo-image {
  margin-left: 450px;
  width: 148px;
  height: 105px; 
  margin-top: -65px;
}

.list_address {
  list-style: none;
  white-space: nowrap;
  padding-left: 784px;
  margin-top: -103px;
  width: 240px;
  font-size: 18px;  
  line-height: 24.3px;
}

.link_info { 
  text-underline-offset: 2px; 
}

.cover {
  position: relative;
  background: url(../images/cover.jpg);
  width: 1100px;
  height: 757px;
  margin-top: 96px;
  margin-bottom: 179px;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 1100px;
  height: 757px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.content_cover {
  padding-top: 165px;
  padding-bottom: 51px;
}

.cover .overlay .content_cover {
  padding-top: 165px;
  padding-bottom: 51px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 83px;
  margin-right: 51px;
  padding-top: 134px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.aligned-text {
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
  text-transform: uppercase;
}

.aligned-text_left {
  padding-left: 50px;
}

.aligned-text_center {
  text-align: center;
  transform: translateY(7px);
}

.aligned-text_right {
  text-align: right;
  transform: translate(-25px, 7px);
  padding-right: 22px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
  gap: 40px;
}

.dalete-spacing {
  letter-spacing: normal;
}

.button {
  border: 1px #fff solid;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  width: 256px;
  height: 51px;
}
.title_lots {
  width: 121px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  color: black;
  margin-top: 180px;
  margin-left: 62px;
  text-transform: uppercase;
}

.lots {
  width: 1052px;
  height: 692px;
}

.card1 {
  background-image: url(../images/card-lot-01.jpg);
  width: 334px;
  height: 563px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.card_title_1 {
  width: 254px;
  height: 82px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 26.4px;
  color: white;
  padding-left: 40px;
  padding-top: 51px;
  white-space: nowrap;
}

.card_text_1 {
  width: 254px;
  height: 144px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: white;
  line-height: 24px;
  padding-left: 40px;
  padding-top: 290px;
  white-space: nowrap;
}

.card2 {
  width: 334px;
  height: 563px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/card-lot-02.jpg);
}

.card_lots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 24px;
  margin-top: 24px;
}

.card_title_2 {
  width: 254px;
  height: 110px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
  padding-top: 51px;
  padding-left: 39px;
  white-space: nowrap;
}

.card_text_2 {
  width: 254px;
  height: 360px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: white;
  white-space: nowrap;
  padding-left: 39px;
  padding-top: 47px;
}

.card3 {
  width: 334px;
  height: 563px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/card-lot-03.jpg);
}

.card_title_3 {
  width: 254px;
  height: 110px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 40px;
  color: white;
  white-space: nowrap;
}

.card_text_3 {
  width: 254px;
  height: 264px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  white-space: nowrap;
  padding-left: 40px;
  padding-top: 142px;
}

.views_more {
  width: 192px;
  height: 25px;
  text-decoration: underline;
  padding-left: 63px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  line-height: 23.48px;
  text-underline-offset: 5px;
}

.view_more {
  padding-top: 30px;
}

.about {
  width: 1052px;
  height: 595px;
  margin-left: 24px;
  margin-top: 100px;
  padding-top: 80px;
}

.logo_column {
  width: 240px;
  height: 240px;
  background-color: black;
  margin-left: 47px;
  border-radius: 50%;
}

.image_in_logo {
  width: 150px;
  height: 150px;
  margin-left: 45px;
  margin-top: 44px;
}

.auction_about {
  width: 291px;
  height: 47px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  padding-left: 356px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: -140px;
}

.auction_about_text {
  width: 688px;
  height: 120px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 357px;
  white-space: nowrap;
  padding-top: 100px;
}

.auction_about_text_2 {
  width: 693px;
  height: 168px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
  padding-left: 356px;
  padding-top: 123px;
}

.footer {
  width: 1000px;
  height: 98px;
  margin-left: 50px;
  margin-top: 230px;
}

.list_address_footer {
  width: 240.52px;
  height: 98px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 24.3px;
  list-style: none;
  font-size: 18px; 
  margin-top: 10px;
}

.main_lots_auction_footer {
  list-style: none;
  padding-left: 420px;
  margin-top: -105px;
  font-size: 18px;
}

.main_footer {
  list-style: none;
  padding-left: 46px;
  border: 1px;
}

.lots_footer {
  list-style: none;
  padding-left: 5px;
  text-underline-offset: 4px;
}

.auction_footer {
  list-style: none;
  padding-left: 25px;
  text-underline-offset: 4px;
}

.main_footer_nounderline {
  text-decoration: none;
}

.image_1_footer {
  background-image: url(../images/yt.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin-left: 760px;
  margin-top: -62px;
}

.image_2_footer {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-image: url(../images/vk.svg);
  margin-left: 855px;
  margin-top: -48px;
}

.image_3_footer {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-image: url(../images/pinterest.svg);
  margin-left: 950px;
  margin-top: -48px;
} 
